*
{
font-family: 'Raleway';
}
body
{
	
}
#page
{
	width: 1280;
	max-width: 1280;
	margin:auto;
	
}
@font-face
{
	font-family: 'Raleway';
	src:url(Raleway/static/Raleway-Medium.ttf);
	
}
/*header*/
header
{
	display: flex;
	flex-direction: column;
}
header figure img
{
	width: 80px;
	padding: 8px 8px 8px 8px;
	margin-left: 2px;
	margin-right: 20px;
	position: relative;
	top: 30px;
	right:  52px;
}
header h1
{
	padding-top: 20px;
	padding-bottom: 1px;
	margin-bottom: 1px;
 	font-size: 18px;
 	font-weight: bold;
 	position: relative;
 	top: 20px;
}
header form
{
	border:2px #F2F2F2 solid;
	margin-right: 2px;
}
.filtres em
{
	font-weight: bold;
	font-size: 1.2em;
	font-style: normal;
}
.petitf
{
	border:3px #F2F2F2 solid;
	border-radius: 22px;
	padding: 8px;
}
.fa-money-bill-wave
{
	background-color: #DEEBFF;
	padding: 10px 9px 10px 6px ;
	margin-left:-1px;
	border-radius: 15px;
	color: #0065FC;
	position: relative;
	right: 9px;
}
.fa-child
{
    background-color: #DEEBFF;
	padding: 10px 11px 10px 14px ;
	margin-left:-5px;
	border-radius: 15px;
	color: #0065FC;
	position: relative;
	right: 5px;
}
.fa-heart
{
	background-color: #DEEBFF;
	padding: 10px 11px 10px 13px ;
	margin-left:-4px;
	border-radius: 15px;
	color: #0065FC; 
	position: relative;
	right: 4.5px;  
}
.fa-dog
{
	background-color: #DEEBFF;
	padding: 10px 7px 10px 12px ;
	margin-left:-8.5px;
	margin-right: 1.5px;
	border-radius: 15px;
	color: #0065FC;
}
.rappel .fa-info
{
	color: #0065FC;
	border: 2px #F2F2F2 solid;
	border-radius: 40px;
	margin: 5px 5px 5px 5px ;
	padding: 7px 11px 7px 11px;

}
.rappel
{
	font-size: 0.95em; 
}
nav
{
	 
	display: flex;
	align-self: flex-end;
	position: relative;
	bottom: 250px;
}
nav a
{
 text-decoration: none ;
 font-size: 1.2em;
 
 color: black;
 
}
/* travail le overline*/
nav a:hover
{
	text-decoration: overline;
	color: #0065FC; 
}
.d_info 
{
	padding-right: 30px;
}
#inscrire
{
	font-weight: bold;
	color: #0065FC;
}


/*section1*/
#hebergements
{
	display: flex;
	
}
#hebergements article
{
	width: 55%;
	height: 700px;
	margin-left: 20px;
	margin-right: 80px;
	background-color: #F2F2F2;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;

}
#hebergements article h1
{
	
	height: 20px;
	width: 100%;
	padding-left: 35px;
}
#hebergements aside
{
	width: 40%;
	height: 700px;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding-right: 30px;
}
#hebergements aside h1
{
	
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-right: ;
	padding-left:;
}
.fa-chart-line
{
	color: black;
}

#afficher
{
	
	width: 100%;
	height: 20px;
	display: flex;
	align-self: flex-end;
	justify-content: flex-start;
	padding-left: 35px;
	text-decoration: none;
	color: black;
}
#afficher a 
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.chambre1
{
 width: 225px;
 height: 195px;
 border-radius: 15px;
 background-color: white;
 padding: 3px;
 margin-left: -41px;
}
.chambre1 img
{
	border-radius: 15px 15px 0px 0px;
	width:225px;
	height: 125px;
}
.chambre2
{
 width: 225px;
 height: 195px;
 border-radius: 15px;
 background-color: white;
  padding: 3px;

}
.chambre2 img
{
	border-radius: 15px 15px 0px 0px;
	width: 225px;
	height: 125px;
}
.chambre3
{
 width: 225px;
 height: 195px;
 border-radius: 15px;
 background-color: white;
 padding: 3px;

}
.chambre3 img
{
	border-radius: 15px 15px 0px 0px;
	width: 225px;
	height: 125px;
}
.chambre4
{
 width: 225px;
 height: 195px;
 border-radius: 15px;
 background-color: white;
 padding: 3px;

}
.chambre4 img
{
	border-radius: 15px 15px 0px 0px;
	width: 225px;
	height: 125px;
}
.chambre5
{
 width: 225px;
 height: 195px;
 border-radius: 15px;
 background-color: white;
 padding: 3px;

}
.chambre5 img
{
	border-radius: 15px 15px 0px 0px;
	width: 225px;
	height: 125px;
}
.chambre6
{
 width: 225px;
 height: 195px;
 border-radius: 15px;
 background-color: white;
 padding: 3px;

}
.chambre6 img
{
	border-radius: 15px 15px 0px 0px;
	width: 225px;
	height: 125px;
}
.chambre7
{
border: 2px black solid;
margin-left: 20px;
height: 125px;
display:flex;
margin-bottom: 70px;
margin-top: 30px;
background-color: white;

}
.chambre7 img
{
	width: 200px ;
	height:130px;
}
.chambre8
{
border: 2px black solid;
margin-left: 20px;
height: 125px;
display:flex;
margin-bottom: 70px;
background-color: white;

}
.chambre8 img
{
	width: 200px ;
	height:130px;
}
.chambre9
{
border: 2px black solid;
margin-left: 20px;
height: 125px;
display:flex;
margin-bottom: 70px;
background-color: white;

}
.chambre9 img
{
	width: 200px ;
	height:130px;
} 
 .fa-star
{
	color: blue;
}
#white
{
	color:  grey;
}

/*section2*/
#activites
{
	
}